files/n8n/workflows/wazuh-ai-triage.json
{
  "name": "Wazuh Alert Pipeline",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Wazuh Alert Webhook",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "wazuh-alerts"
      },
      "position": [200, 200],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1
    },
    {
      "id": "extract-fields",
      "name": "Extract Alert Fields",
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst rule = body.rule || {};\nconst agent = body.agent || {};\nconst now = new Date().toISOString();\n\nreturn [{\n  json: {\n    alert_id: body.id || `alert-${Date.now()}`,\n    rule_id: String(rule.id || 'unknown'),\n    rule_level: rule.level || 0,\n    rule_description: rule.description || 'No description',\n    agent_name: agent.name || 'unknown',\n    timestamp: body.timestamp || now,\n    full_log: body.full_log || 'N/A',\n    location: body.location || 'N/A',\n    decoder: body.decoder ? body.decoder.name : 'N/A',\n    rule_groups: rule.groups ? rule.groups.join(', ') : 'N/A',\n    alert_json: JSON.stringify(body),\n    processed: false,\n    received_at: now\n  }\n}];",
        "language": "javaScript",
        "mode": "runOnceForAllItems"
      },
      "position": [460, 200],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "store-alert",
      "name": "Store in Data Table",
      "parameters": {
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": null
        },
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_DATA_TABLE_ID"
        },
        "operation": "insert",
        "resource": "row"
      },
      "position": [720, 200],
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1
    },
    {
      "id": "schedule-trigger",
      "name": "Hourly Digest Trigger",
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "position": [200, 600],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3
    },
    {
      "id": "get-alerts",
      "name": "Get Unprocessed Alerts",
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_DATA_TABLE_ID"
        },
        "filters": {
          "conditions": [
            {
              "condition": "isFalse",
              "keyName": "processed"
            }
          ]
        },
        "operation": "get",
        "resource": "row",
        "returnAll": true
      },
      "position": [460, 600],
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1
    },
    {
      "id": "check-alerts",
      "name": "Has Alerts?",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "check-count",
              "leftValue": "={{ $input.all().length }}",
              "operator": {
                "operation": "gt",
                "type": "number"
              },
              "rightValue": 0
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [720, 600],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "id": "prepare-prompt",
      "name": "Prepare Gemini Prompt",
      "parameters": {
        "jsCode": "const alerts = $input.all().map(item => item.json);\n\nconst alertSummaries = alerts.map((a, i) => {\n  return `### Alert ${i + 1}\n- **Alert ID**: ${a.alert_id}\n- **Rule ID**: ${a.rule_id} (Level ${a.rule_level})\n- **Description**: ${a.rule_description}\n- **Agent**: ${a.agent_name}\n- **Timestamp**: ${a.timestamp}\n- **Location**: ${a.location}\n- **Decoder**: ${a.decoder}\n- **Groups**: ${a.rule_groups}\n- **Log**: ${a.full_log}`;\n}).join('\\n\\n');\n\nconst prompt = `You are a senior cybersecurity analyst reviewing Wazuh SIEM alerts from a homelab environment. The homelab runs on a single Ubuntu server (\"my-server\") with Docker containers for various services.\n\nAnalyze the following ${alerts.length} alert(s) collected in the last hour. For each alert, provide:\n1. **Severity Assessment** (Critical / High / Medium / Low / Informational)\n2. **MITRE ATT&CK Mapping** (technique ID and name if applicable)\n3. **Analysis** (what happened, is it expected in a homelab?)\n4. **Recommended Action** (investigate, monitor, or safe to ignore)\n\nAfter individual assessments, provide:\n- **Executive Summary**: 2-3 sentence overview\n- **Overall Threat Level**: Critical / High / Medium / Low / None\n- **Top Priority Actions**: Numbered list of what to do first\n\nIMPORTANT: Be practical. This is a homelab, not an enterprise. Flag truly suspicious activity but don't over-alarm on routine system events.\n\nReturn your response as valid JSON with this structure:\n{\n  \"executive_summary\": \"string\",\n  \"overall_threat_level\": \"string\",\n  \"priority_actions\": [\"string\"],\n  \"alerts\": [\n    {\n      \"alert_id\": \"string\",\n      \"severity\": \"string\",\n      \"mitre_attack\": \"string or null\",\n      \"analysis\": \"string\",\n      \"recommended_action\": \"string\"\n    }\n  ]\n}\n\n---\n\n${alertSummaries}`;\n\nconst alertIds = alerts.map(a => a.id || a.alert_id);\nconst alertCount = alerts.length;\nconst maxLevel = Math.max(...alerts.map(a => a.rule_level || 0));\n\nreturn [{\n  json: {\n    chatInput: prompt,\n    alertIds: alertIds,\n    alertCount: alertCount,\n    maxLevel: maxLevel,\n    rawAlerts: alerts\n  }\n}];",
        "language": "javaScript",
        "mode": "runOnceForAllItems"
      },
      "position": [980, 500],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "gemini-model",
      "name": "Gemini",
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {
          "temperature": 0.2
        }
      },
      "position": [1240, 720],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini"
        }
      }
    },
    {
      "id": "llm-chain",
      "name": "AI Analysis",
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}"
      },
      "position": [1240, 500],
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9
    },
    {
      "id": "parse-response",
      "name": "Parse AI Response",
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst prevData = $('Prepare Gemini Prompt').first().json;\n\nlet rawText = input.text || input.output || JSON.stringify(input);\n\nlet analysis;\ntry {\n  const jsonMatch = rawText.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  const jsonStr = jsonMatch ? jsonMatch[1].trim() : rawText.trim();\n  analysis = JSON.parse(jsonStr);\n} catch (e) {\n  analysis = {\n    executive_summary: 'AI analysis returned non-JSON response. Raw output included below.',\n    overall_threat_level: 'Unknown',\n    priority_actions: ['Review raw AI output manually'],\n    alerts: [],\n    raw_output: rawText\n  };\n}\n\nreturn [{\n  json: {\n    analysis: analysis,\n    alertIds: prevData.alertIds,\n    alertCount: prevData.alertCount,\n    maxLevel: prevData.maxLevel,\n    rawAlerts: prevData.rawAlerts\n  }\n}];",
        "language": "javaScript",
        "mode": "runOnceForAllItems"
      },
      "position": [1500, 500],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "build-email",
      "name": "Build Email & Markdown",
      "parameters": {
        "jsCode": "const { analysis, alertCount, maxLevel, rawAlerts } = $input.first().json;\nconst now = new Date().toISOString().replace('T', ' ').substring(0, 19);\n\nconst threatColors = {\n  'Critical': '#dc3545', 'High': '#fd7e14', 'Medium': '#ffc107',\n  'Low': '#28a745', 'None': '#6c757d', 'Informational': '#17a2b8', 'Unknown': '#6c757d'\n};\nconst threatColor = threatColors[analysis.overall_threat_level] || '#6c757d';\n\nlet html = `<!DOCTYPE html>\n<html>\n<head><meta charset=\"utf-8\"><style>\n  body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; margin: 0; padding: 20px; background: #f5f5f5; }\n  .container { max-width: 700px; margin: 0 auto; background: #fff; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 8px rgba(0,0,0,0.1); }\n  .header { background: ${threatColor}; color: #fff; padding: 20px 24px; }\n  .header h1 { margin: 0; font-size: 20px; }\n  .header .meta { opacity: 0.9; font-size: 13px; margin-top: 4px; }\n  .body { padding: 24px; }\n  .summary { background: #f8f9fa; border-left: 4px solid ${threatColor}; padding: 12px 16px; margin-bottom: 20px; border-radius: 0 4px 4px 0; }\n  .alert-card { border: 1px solid #e0e0e0; border-radius: 6px; padding: 14px; margin-bottom: 12px; }\n  .alert-card h3 { margin: 0 0 8px 0; font-size: 14px; }\n  .severity { display: inline-block; padding: 2px 8px; border-radius: 12px; font-size: 11px; font-weight: 600; color: #fff; }\n  .severity-critical { background: #dc3545; } .severity-high { background: #fd7e14; }\n  .severity-medium { background: #ffc107; color: #333; } .severity-low { background: #28a745; }\n  .severity-informational { background: #17a2b8; }\n  .actions { background: #fff3cd; border: 1px solid #ffc107; border-radius: 6px; padding: 14px; margin-top: 16px; }\n  .actions h3 { margin: 0 0 8px 0; font-size: 14px; color: #856404; }\n  .actions ol { margin: 0; padding-left: 20px; }\n  .footer { padding: 16px 24px; background: #f8f9fa; font-size: 12px; color: #666; border-top: 1px solid #e0e0e0; }\n</style></head>\n<body>\n<div class=\"container\">\n  <div class=\"header\">\n    <h1>Wazuh Security Digest</h1>\n    <div class=\"meta\">${alertCount} alert(s) | Max Level: ${maxLevel} | ${now} UTC</div>\n  </div>\n  <div class=\"body\">\n    <div class=\"summary\">\n      <strong>Threat Level: ${analysis.overall_threat_level}</strong><br/>\n      ${analysis.executive_summary}\n    </div>`;\n\nif (analysis.alerts && analysis.alerts.length > 0) {\n  analysis.alerts.forEach((a, i) => {\n    const sevClass = 'severity-' + (a.severity || 'low').toLowerCase();\n    const matchingRaw = rawAlerts[i] || {};\n    html += `\\n    <div class=\"alert-card\">\\n      <h3>${matchingRaw.rule_description || a.alert_id || 'Alert ' + (i+1)} <span class=\"severity ${sevClass}\">${a.severity}</span></h3>\\n      <p style=\"margin:4px 0;font-size:13px;\"><strong>Rule:</strong> ${matchingRaw.rule_id || 'N/A'} | <strong>Agent:</strong> ${matchingRaw.agent_name || 'N/A'} | <strong>MITRE:</strong> ${a.mitre_attack || 'N/A'}</p>\\n      <p style=\"margin:4px 0;font-size:13px;\">${a.analysis}</p>\\n      <p style=\"margin:4px 0;font-size:12px;color:#666;\"><strong>Action:</strong> ${a.recommended_action}</p>\\n    </div>`;\n  });\n}\n\nif (analysis.priority_actions && analysis.priority_actions.length > 0) {\n  html += `\\n    <div class=\"actions\">\\n      <h3>Priority Actions</h3>\\n      <ol>`;\n  analysis.priority_actions.forEach(action => {\n    html += `<li style=\"margin-bottom:4px;font-size:13px;\">${action}</li>`;\n  });\n  html += `</ol></div>`;\n}\n\nhtml += `\\n  </div>\\n  <div class=\"footer\">\\n    Generated by n8n Wazuh Alert Pipeline | Homelab Security Monitoring\\n  </div>\\n</div>\\n</body></html>`;\n\nlet md = `# Wazuh Security Digest\\n`;\nmd += `**Date:** ${now} UTC\\n`;\nmd += `**Alerts:** ${alertCount} | **Max Level:** ${maxLevel} | **Threat Level:** ${analysis.overall_threat_level}\\n\\n`;\nmd += `## Executive Summary\\n${analysis.executive_summary}\\n\\n`;\n\nif (analysis.alerts && analysis.alerts.length > 0) {\n  md += `## Alert Details\\n\\n`;\n  analysis.alerts.forEach((a, i) => {\n    const matchingRaw = rawAlerts[i] || {};\n    md += `### ${i+1}. ${matchingRaw.rule_description || a.alert_id || 'Alert'}\\n`;\n    md += `- **Severity:** ${a.severity}\\n`;\n    md += `- **Rule ID:** ${matchingRaw.rule_id || 'N/A'} (Level ${matchingRaw.rule_level || 'N/A'})\\n`;\n    md += `- **Agent:** ${matchingRaw.agent_name || 'N/A'}\\n`;\n    md += `- **MITRE ATT&CK:** ${a.mitre_attack || 'N/A'}\\n`;\n    md += `- **Timestamp:** ${matchingRaw.timestamp || 'N/A'}\\n`;\n    md += `- **Analysis:** ${a.analysis}\\n`;\n    md += `- **Action:** ${a.recommended_action}\\n`;\n    md += `- **Log:** \\`${matchingRaw.full_log || 'N/A'}\\`\\n\\n`;\n  });\n}\n\nif (analysis.priority_actions && analysis.priority_actions.length > 0) {\n  md += `## Priority Actions\\n`;\n  analysis.priority_actions.forEach((action, i) => { md += `${i+1}. ${action}\\n`; });\n  md += `\\n`;\n}\nmd += `---\\n*Generated by n8n Wazuh Alert Pipeline*\\n`;\n\nconst threatEmoji = { 'Critical': '\\uD83D\\uDD34', 'High': '\\uD83D\\uDFE0', 'Medium': '\\uD83D\\uDFE1', 'Low': '\\uD83D\\uDFE2', 'None': '\\u26AA', 'Unknown': '\\u2753' };\nconst emoji = threatEmoji[analysis.overall_threat_level] || '\\uD83D\\uDEE1\\uFE0F';\nlet gotifyMsg = `${emoji} ${analysis.overall_threat_level}: ${alertCount} alert(s)\\n\\n${analysis.executive_summary}`;\nif (analysis.priority_actions && analysis.priority_actions.length > 0) {\n  gotifyMsg += `\\n\\nActions:\\n` + analysis.priority_actions.map((a, i) => `${i+1}. ${a}`).join('\\n');\n}\n\nconst gotifyPriority = { 'Critical': 9, 'High': 7, 'Medium': 5, 'Low': 3, 'None': 1, 'Unknown': 5 };\nconst mdBuffer = Buffer.from(md, 'utf-8');\n\nreturn [{\n  json: {\n    subject: `${emoji} Wazuh Digest: ${analysis.overall_threat_level} - ${alertCount} alert(s)`,\n    htmlBody: html,\n    gotifyTitle: `Wazuh: ${analysis.overall_threat_level} (${alertCount} alerts)`,\n    gotifyMessage: gotifyMsg,\n    gotifyPriority: gotifyPriority[analysis.overall_threat_level] || 5,\n    alertCount: alertCount,\n    analysis: analysis\n  },\n  binary: {\n    report: {\n      data: mdBuffer.toString('base64'),\n      mimeType: 'text/markdown',\n      fileName: `wazuh-digest-${now.replace(/[: ]/g, '-')}.md`,\n      fileExtension: 'md'\n    }\n  }\n}];",
        "language": "javaScript",
        "mode": "runOnceForAllItems"
      },
      "position": [1760, 500],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "send-email",
      "name": "Send Digest Email",
      "parameters": {
        "fromEmail": "your-sender@example.com",
        "html": "={{ $json.htmlBody }}",
        "options": {
          "attachments": "report"
        },
        "subject": "={{ $json.subject }}",
        "toEmail": "your-recipient@example.com"
      },
      "position": [2040, 400],
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "Gmail SMTP"
        }
      }
    },
    {
      "id": "gotify-push",
      "name": "Gotify Push",
      "parameters": {
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.gotifyTitle }}"
            },
            {
              "name": "message",
              "value": "={{ $json.gotifyMessage }}"
            },
            {
              "name": "priority",
              "value": "={{ $json.gotifyPriority }}"
            }
          ]
        },
        "contentType": "json",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "url": "http://gotify:80/message?token=YOUR_GOTIFY_APP_TOKEN"
      },
      "position": [2040, 600],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "id": "mark-processed",
      "name": "Mark Alerts Processed",
      "parameters": {
        "jsCode": "const alertRows = $('Get Unprocessed Alerts').all();\n\nreturn alertRows.map(row => ({\n  json: {\n    id: row.json.id,\n    processed: true\n  }\n}));",
        "language": "javaScript",
        "mode": "runOnceForAllItems"
      },
      "position": [2040, 800],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "update-processed",
      "name": "Update Data Table",
      "parameters": {
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "processed": "={{ true }}"
          }
        },
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_DATA_TABLE_ID"
        },
        "filters": {
          "conditions": [
            {
              "condition": "eq",
              "keyName": "id",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "operation": "update",
        "resource": "row"
      },
      "position": [2300, 800],
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1
    },
    {
      "id": "no-alerts",
      "name": "No Alerts",
      "parameters": {},
      "position": [980, 700],
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1
    }
  ],
  "connections": {
    "Wazuh Alert Webhook": {
      "main": [[{"node": "Extract Alert Fields", "type": "main", "index": 0}]]
    },
    "Extract Alert Fields": {
      "main": [[{"node": "Store in Data Table", "type": "main", "index": 0}]]
    },
    "Hourly Digest Trigger": {
      "main": [[{"node": "Get Unprocessed Alerts", "type": "main", "index": 0}]]
    },
    "Get Unprocessed Alerts": {
      "main": [[{"node": "Has Alerts?", "type": "main", "index": 0}]]
    },
    "Has Alerts?": {
      "main": [
        [{"node": "Prepare Gemini Prompt", "type": "main", "index": 0}],
        [{"node": "No Alerts", "type": "main", "index": 0}]
      ]
    },
    "Prepare Gemini Prompt": {
      "main": [[{"node": "AI Analysis", "type": "main", "index": 0}]]
    },
    "Gemini": {
      "ai_languageModel": [[{"node": "AI Analysis", "type": "ai_languageModel", "index": 0}]]
    },
    "AI Analysis": {
      "main": [[{"node": "Parse AI Response", "type": "main", "index": 0}]]
    },
    "Parse AI Response": {
      "main": [[{"node": "Build Email & Markdown", "type": "main", "index": 0}]]
    },
    "Build Email & Markdown": {
      "main": [[
        {"node": "Send Digest Email", "type": "main", "index": 0},
        {"node": "Gotify Push", "type": "main", "index": 0},
        {"node": "Mark Alerts Processed", "type": "main", "index": 0}
      ]]
    },
    "Mark Alerts Processed": {
      "main": [[{"node": "Update Data Table", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Berlin"
  }
}
